p.speech{
    font: 10px;
    color: black;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
p.direction{
    font: 10px;;
    color: black;
    font-family:Arial, Helvetica, sans-serif;
}
p.direction:hover{
    background-color:lightgrey;

    color: blue;
    
}
h5.HENRIETTE{
    font:bold;
    color: bisque;
    font-size: 15px;
    font-style:inherit;
}
h5.HENRIETTE:hover{
    text-shadow: 10px 200px 100px maroon;
    border-bottom: #fff;
}
h5.JACQUES:hover{
    text-shadow: 10px 200px 100px lavender;
    border-bottom: #ddd;

}
h5.JACQUES{
    font:bold;
    color:aqua;
    font-size: 15px;
    font-style: oblique;
}
table { 
    color: black;
    /*width: 300px;*/
    margin: 25px 25px 25px;   
    
    }
table,th,td{
    padding: 20px;
    border: 1px solid black;
    border-collapse: collapse;

}
td {
       
    color:brown;
    text-align: center;

}
th{
      
    font: bold;
    color: black;
    text-align: center;
    background-color: bisque;
}
tr:nth-child(even) {
    background-color: #fff;
  }
  tr:nth-child(odd) {
    background-color: #ddd;
  }